@model IEnumerable<TaskDto>

<div class="container mt-4">
    <div class="text-center mb-4">
        <h1>Tasks List</h1>
    </div>

    <!-- Incomplete Tasks -->
    <div class="card shadow mb-4">
        <div class="card-header bg-warning">
            <h2 class="text-white">Incomplete Tasks</h2>
        </div>
        <div class="card-body">
            @Html.Partial("_TaskTablePartial", Model.Where(task => !task.IsCompleted))
        </div>
    </div>

    <!-- Completed Tasks -->
    <div class="card shadow mb-4">
        <div class="card-header bg-success">
            <h2 class="text-white">Completed Tasks</h2>
        </div>
        <div class="card-body">
            @Html.Partial("_TaskTablePartial", Model.Where(task => task.IsCompleted))
        </div>
    </div>

    <!-- All Tasks -->
    <div class="card shadow">
        <div class="card-header bg-primary">
            <h2 class="text-white">All Tasks</h2>
        </div>
        <div class="card-body">
            @Html.Partial("_TaskTablePartial", Model)
        </div>
    </div>
</div>
